.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.date-label {
    margin: 0.5rem;
    padding: 1rem;
    background-color: inherit;
    font-size: 2rem;
    color: #2D284F;

}

h1 {
   font-size: 4rem; 
   font-weight: lighter;
   color: #674AB6;
}
